/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;  /* Applying Google Font */
    background-color: #f8f9fa;  /* Light background */
    color: #333;  /* Dark text */
    margin: 0;
    padding: 0;
}

/* Layout */
header, nav, main, footer {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}



/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items:center;  /*this center the items */
    gap: 10px;  /* more space in the items */
    background-color: #b93d3d;
    padding: 10px;

}

nav ul li {
    margin-bottom: 10px;
}

nav  ul li a {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    display: block;
    text-decoration: none; /*this eliminates the underline */
   
}

nav ul li a.active {
    font-weight: bold;
    background-color: #666;
}

/* Style for the "Home" navigation item only */
nav ul li:first-child {
    background-color: #ff6600; /* Unique color for "Home" */

    margin:0 px;

}


main {
    display: grid;
    grid-template-columns: 1fr;  
    gap: 10px;
    padding: 20px;
}

main {
    max-width: 900px;        
    margin: 0 auto;           /* Center horizontally */
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Cards */
.card-conteiner  {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.card ul {
    list-style-type: none;  
    padding: 0;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    background-color: #161010;
    color: rgb(223, 223, 223);
}

header {
    display: flex;               
    align-items: center;         
    justify-content: center;   
    text-align: center;          
    gap: 10px;                  
    padding: 20px;
}

/* my Image */
header img {
    width: 140px;                
    height: 200px;              
    object-fit: cover;           
}

/* My name */
header span {
    font-size: 1.5rem;
    font-weight: bold;
}



